.login-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#login-container {
  background: white;
  position: relative;
}
